@import "../../utils/vars.scss";
.active_service {
  color: $primary-color !important;
}
.active_ser {
  color: white !important;
}
.service {
  overflow: hidden;
  box-shadow: 0 2px 5px rgb(188, 186, 186);
  &__header {
    position: relative;
    box-shadow: 0 2px 5px rgb(188, 186, 186);
    img {
      margin-bottom: 3rem;
    }
    &--card {
      height: 300px;
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 0;
      left: 3rem;
      background-color: #415b7cc9;
      color: white;
      padding: 1rem;
      width: 400px;
      h1 {
        font-size: 1.4rem;
        font-weight: 500;
      }
      .pos {
        display: flex;
        gap: 0.5rem;
        font-size: small;
        .title::before,
        .subtitle::before {
          content: "\2022";
          color: gray;
          display: inline-block;
          width: 10px;
          font-weight: bolder;
          border-radius: 50%;
          margin-right: 0.2rem;
        }
        .title,
        .subtitle {
          color: $crd-txt-color;
        }
      }
      p {
        margin-top: 1rem;
        font-size: 0.9rem;
      }
    }
  }
  &__body {
    display: flex;
    margin-inline: 2rem;
    &--left {
      flex: 1.5;
      box-shadow: 2px 0 5px rgb(233, 230, 230);
      margin-right: 2rem;
      padding: 2rem 1rem 1rem 3rem;
      li {
        margin-block: 0.5rem;
        font-size: 0.9rem;
        a {
          color: black;
          text-decoration: none;
          transition: all 0.3s;
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
    &--right {
      margin-block: 2rem;
      flex: 9;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      h4 {
        font-size: 1.3rem;
        font-weight: 500;
        color: $hl-color;
      }
      h5,
      strong {
        font-weight: 600;
        color: $hl-color;
      }

      ul {
        margin-left: 1.5rem;
        li {
          color: $pl-color;
          font-size: 0.9rem;
        }
      }
      p {
        font-size: 0.9rem;
        color: $pl-color;
      }
    }
  }
}

.vision {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .section {
    strong {
      font-size: 1.2rem;
      font-weight: 500;
      color: $hl-color;
    }
    p {
      color: $pl-color;
      font-size: 0.9rem;
    }
    &__caring {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      strong {
        font-size: 1.2rem;
        font-weight: 500;
        color: $hl-color;
      }
      li {
        color: $pl-color;
        margin-left: 1.3rem;
        font-size: 0.9rem;
        margin-block: 0.3rem;
      }
    }
  }
}
