@import "../../utils/vars.scss";

.home {
  overflow: hidden;
  &__carousel__slider {
    display: flex;
    transition: all 0.7s;
    .slider__1,
    .slider__2,
    .slider__3 {
      position: relative;
    }
    .image {
      width: 100vw;
      height: 50vw;
      img {
        height: inherit;
        width: 100%;
      }
    }
    .service__desc {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      position: absolute;
      bottom: 0;
      left: 3rem;
      background-color: #415b7cc9;
      color: white;
      padding: 2rem;
      width: 400px;
      .bullet__btns {
        display: flex;
        gap: 0.2rem;
        .btn {
          display: inline-block;
          background-color: white;
          width: 0.7rem;
          height: 0.7rem;
          border-radius: 50%;
          cursor: pointer;
        }
        .active {
          background-color: $secondary-color;
          border: 1px solid white;
        }
      }
      h2 {
        font-weight: 500;
      }
      button {
        border: 1px solid white;
        background-color: transparent;
        color: white;
        text-transform: uppercase;
        padding: 1rem;
        border-radius: 0.4rem;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          background-color: $primary-color;
        }
      }
    }
  }
  &__about {
    display: flex;
    height: 80vh;
    background-color: #f3f3f3;
    .left {
      flex: 2;
      padding: 2rem;
      h3 {
        padding-bottom: 1rem;
        font-weight: 500;
      }
      &__main--content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .top {
          display: flex;
          gap: 0.2rem;
          align-items: center;
          strong {
            font-size: 1.2rem;
            font-weight: 500;
            color: $primary-color;
          }
        }
        .bottom {
          padding-left: 2.5rem;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          p {
            font-size: 0.9rem;
            color: rgb(74, 73, 73);
            width: 90%;
          }
          button {
            width: 150px;
            padding: 1.2rem 1rem;
            border-radius: 0.5rem;
            border: 1px solid black;
            transition: all 0.3s;
            &:hover {
              background-color: $primary-color;
              border-color: $primary-color;
              color: white;
            }
          }
        }
      }
    }
    .right::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("../../assets/grass.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      filter: blur(3px);
    }
    .right {
      position: relative;
      flex: 1;
      padding: 2rem 5rem;
      color: white;
      .top {
        position: relative;
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-block: 2rem;
        h2 {
          font-weight: 500;
        }
      }
      .bottom {
        position: relative;
        button {
          background: transparent;
          border: 1px solid white;
          padding: 1rem;
          border-radius: 0.2rem;
          margin-block: 3rem;
          color: white;
          transition: all 0.3s;
          &:hover {
            border-color: $primary-color;
            background-color: $primary-color;
          }
        }
      }
    }
  }
  &__service--request {
    height: 20vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    background-color: #ebebeb;
    border-top: 1px solid rgb(187, 186, 186);
    box-shadow: 0 3px 10px rgb(200, 199, 199);
    margin-bottom: 2rem;
    p {
      color: gray;
    }
    a {
      text-decoration: none;
      transition: all 0.3s;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
