@import "../../utils/vars.scss";

@mixin for-tablet-portrait-up {
  @media (max-width: 900px) {
    @content;
  }
}

.active {
  color: $primary-color !important;
  border-bottom: 1px solid $primary-color;
}
.header {
  background-color: $bg-color;
  &__bar {
    display: flex;
    .red {
      display: inline-block;
      height: 3px;
      width: 50vw;
      background-color: $primary-color;
    }
    .blue {
      display: inline-block;
      height: 3px;
      width: 50vw;
      background-color: $secondary-color;
    }
  }
  &__container {
    display: flex;
    padding: 1rem 2rem 1rem 4rem;
    margin-inline: 1.2rem;
    justify-content: space-between;
    @include for-tablet-portrait-up {
      padding: 1rem;
      margin-inline: 0;
    }
    nav {
      width: 625px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;
      padding-bottom: 1rem;

      div:nth-child(2) {
        width: fit-content;
        align-self: flex-end;
      }
      .main__links {
        height: 100px;
        .search__input {
          display: inline;
          position: relative;
          margin-block: 0.8rem;
          align-self: center;
          padding-left: 1.2rem;
          height: inherit;
          input {
            position: absolute;
            height: 0px;
            visibility: hidden;
            padding: 0 5px 0 2.5rem;
            overflow: hidden;
            transition: all 0.3s;
          }
        }
        .search__icon {
          position: relative;
          visibility: hidden;
          font-size: 1.2rem;
          left: 2rem;
          top: 1rem;
        }
        .d__none {
          input {
            visibility: visible;
            height: 50px !important;
          }
          .search__icon {
            visibility: visible;
            z-index: 1000;
          }
        }
      }

      ul {
        list-style: none;
        display: flex;
        gap: 1rem;
        align-items: center;
        li {
          a {
            text-decoration: none;
            color: black;
            font-size: small;
            padding-bottom: 2px;
            transition: all 0.3s;
            &:hover {
              color: $primary-color;
              border-bottom: 1px solid $primary-color;
            }
          }

          .icon {
            font-size: 1.1rem;
          }
        }

        .company__number {
          display: flex;
          color: white;
          gap: 1rem;
          font-size: 1rem;
          align-items: center;
          border-radius: 0 0 0.5rem 0.5rem;
          background-color: $primary-color;
          padding: 0.5rem 0.7rem;
          position: absolute;
          top: 3px;
          right: 4rem;
          .icon {
            font-size: 1.3rem;
          }
        }
      }
      .main__links--ul {
        gap: 2rem;
        padding-bottom: 1rem;
        @include for-tablet-portrait-up {
          gap: 1rem;
          margin-left: 2rem;
        }
      }
      .secondary__links--ul {
        list-style: none;
        li:first-child::before {
          display: none;
        }
        li {
          a {
            font-size: large;
          }
        }
        li::before {
          content: "\2022";
          color: gray;
          display: inline-block;
          width: 10px;
          font-weight: bolder;
          border-radius: 50%;
          margin-right: 0.4rem;
        }
      }
    }
  }
}
