@import "../../utils/vars.scss";

#logo_footer {
  width: 200px !important;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 2rem;
  .logo {
    padding-left: 4rem;
  }
  &__links {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-inline: 4rem;
    .footer__column {
      display: flex;
      flex-direction: column;
      &--heading {
        a {
          text-decoration: none;
          color: black;
          transition: all 0.3s;
          &:hover {
            color: $primary-color;
          }
        }
      }
      &--links {
        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          li {
            padding-block: 0.1rem;
            a {
              color: gray;
              font-size: 0.9rem;
              text-decoration: none;
              transition: all 0.3s;
              &:hover {
                color: $primary-color;
              }
            }
          }
        }
      }
    }
  }
  .copyright {
    padding-left: 4rem;
    color: gray;
    font-size: 0.8rem;
  }
  &__bar {
    display: flex;
    .red {
      display: inline-block;
      height: 3px;
      width: 50vw;
      background-color: $primary-color;
    }
    .blue {
      display: inline-block;
      height: 3px;
      width: 50vw;
      background-color: $secondary-color;
    }
  }
}
