@import "../../utils/vars.scss";

.carrers {
  overflow: hidden;
  box-shadow: 0 2px 5px rgb(188, 186, 186);
  &__header {
    position: relative;
    box-shadow: 0 2px 5px rgb(188, 186, 186);
    img {
      margin-bottom: 3rem;
    }
    &--card {
      height: 300px;
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 0;
      left: 3rem;
      background-color: #415b7cc9;
      color: white;
      padding: 1rem;
      width: 400px;
      h1 {
        font-size: 1.4rem;
        font-weight: 500;
      }
      .pos {
        display: flex;
        gap: 0.5rem;
        font-size: small;
        span:nth-child(2)::before {
          content: "\2022";
          color: gray;
          display: inline-block;
          width: 10px;
          font-weight: bolder;
          border-radius: 50%;
          margin-right: 0.2rem;
        }
        span:nth-child(2) {
          color: gray;
        }
      }
    }
  }
  &__body {
    display: flex;
    padding: 0 2rem;
    &--left {
      flex: 1.5;
      padding-top: 2rem;
      box-shadow: 2px 0 5px rgb(233, 230, 230);
      margin-right: 2rem;
      p::before {
        content: "\2022";
        color: $primary-color;
        display: inline-block;
        width: 10px;
        font-weight: bolder;
        border-radius: 50%;
        margin-right: 0.2rem;
      }
      p {
        text-align: center;
        color: $primary-color;
      }
    }
    &--right {
      flex: 9;
      padding: 2rem 1rem 1rem 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      p {
        color: gray;
        font-size: 0.9rem;
        font-weight: 500;
        width: 70%;
      }
      h4 {
        color: #333333;
        font-size: 1.2rem;
        font-weight: 500;
        margin-top: 2rem;
      }
      .personal__details--form {
        // general styles
        form {
          display: flex;
          gap: 2rem;
          width: 80%;
          div {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 1rem;
            div {
              display: flex;
              flex-direction: column;
              gap: 1rem;
              label {
                color: #333333;
                font-size: 0.8rem;
              }
              input {
                padding: 0.6rem 1rem;
              }
              select {
                padding: 0.6rem 1rem;
                font-weight: 300;
                font-size: 1rem;
                background: url("	http://www.deyaarfm.com/wp-content/themes/dfm/images/down-arrow.svg")
                  95% center no-repeat;
                appearance: none;
                option {
                  font-weight: 300;
                }
              }
            }
          }
        }
      }
      .contact__details--form {
        // general styles
        form {
          display: flex;
          gap: 2rem;
          width: 90%;
          div {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            div {
              display: flex;
              flex-direction: column;
              gap: 1rem;
              label {
                color: #333333;
                font-size: 0.8rem;
              }
              input {
                padding: 0.6rem 1rem;
              }
              select {
                padding: 0.6rem 1rem;
                font-weight: 300;
                font-size: 1rem;
                background: url("	http://www.deyaarfm.com/wp-content/themes/dfm/images/down-arrow.svg")
                  95% center no-repeat;
                appearance: none;
                option {
                  font-weight: 300;
                }
              }
              .tel_input,
              .mob_input {
                display: flex;
                flex-direction: row;
                input:first-child {
                  width: 70px;
                  padding-left: 0.7rem;
                }
                input:nth-child(2) {
                  width: 70px;
                }
                input:nth-child(3) {
                  width: 150px;
                }
              }
            }
            .cv {
              display: flex;
              .cv_label {
                text-align: center;
                background-color: transparent;
                padding: 1rem;
                width: 200px;
                border: 1px solid black;
                border-radius: 0.4rem;
                transition: all 0.3s;
                cursor: pointer;
                &:hover {
                  color: white;
                  border-color: $primary-color;
                  background-color: $primary-color;
                }
              }
            }
          }
        }
      }
      button {
        background-color: transparent;
        margin-block: 2rem;
        padding: 1rem;
        width: 200px;
        border: 1px solid black;
        border-radius: 0.4rem;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
          color: white;
          border-color: $primary-color;
          background-color: $primary-color;
        }
      }
    }
  }
}
